* {
    box-sizing: border-box;
}

body {
    background-color: rgb(148, 148, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
    position: fixed; 
    left: 50%;
    width: 396px;
    height: 600px;
    margin-top: 15px;
    margin-left: -17em;
    box-shadow: 2px 2px 10px 5px rgb(70, 70, 70);
    
}

.visor {
    width: 400px;
    height: 150px;
    margin-left: -5px;
    background: #e8e8e8;
    border-radius: 20px 20px 0px 0px;
}

.numeric {
    width: 100px;
    height: 90px;
    display: inline-block;
    background: #011b80;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle p !important;
    margin-left: -5px;
    padding-top: 20px;
    cursor: pointer;
}

.numeric:active {
    background: #f0f0f5 !important;
    color: #191a1c !important;
}

.total {
    color: #242529;
    width: 400px;
    font-size: 70px;
    text-align: right;
    padding-right: 10px;
    }    
    
.acc {
    color: #c5c5c5;
    width: 400px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.zero {
    width: 200px !important;
    border-radius: 0px 0px 0px 10px;
}

.action {
    background: #041350 !important;
}

.result {
    background: #002fff !important;
    border-radius: 0px 0px 10px 0px;
}