* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #73cee6, #33778a);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
    position: fixed; 
    left: 50%;
    width: 480px;
    height: 800px;
    margin-top: 15px;
    margin-left: -17em;
}

.numeric {
    width: 100px;
    height: 90px;
    display: inline-block;
    background: #191a1c;
    color: #969ea5;
    font-size: 40px;
    text-align: center;
    vertical-align: middle p !important; /* Observar o funcionamento do !important */
    margin-left: -5px;
    padding-top: 20px;
    cursor: pointer; /* Observar o funcionamento do cursor */
}

.numeric:active {
    background: #f0f0f5 !important;
    color: #191a1c !important;
}

.visor {
    width: 400px;
    height: 150px;
    margin-left: -5px;
    background: #f6f7fa;
}

.total {
    color: #242529;
    width: 400px;
    font-size: 70px;
    text-align: right;
    padding-right: 10px;
    }    
    
.acc {
    color: #c5c5c5;
    width: 400px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.zero {
    width: 200px !important;
}

.action {
    background: #242529 !important;
}

.result {
    background: #267e94 !important;
}